

input{
    background-color: whitesmoke;
}

input:focus{
    background-color:lightgray;
}
input:hover{
    background-color:black;
    color:white;
}

.btn{
    text-align:center;      
}