@charset 'UTF-8';

html{
    /* 여기서 설정한 크기를 기준으로 앞으로의 폰트 크기를 정하기 */
    font-size : 14px;   
}

body{
    overflow-x: hidden;
    color : rgb(29,29,31);
    letter-spacing: -0.05em;
    /* em : 현재 폰트의 0.05배만큼 좁혀줘라(백분율) */
    background: white;
}

p{
    line-height: 1.6;
}

a{
    text-decoration: none;
}

.global-nav{
    position: absolute;
    width:100%;
    top:0;
    left:0;
    height:44px;
    padding: 0 1rem;
    /* rem : 현재 폰트의 배수만큼 */
    border-bottom:1px solid #888;
}

.local-nav{
    position : absolute;
    width:100%;
    top:45px;
    left:0;
    height:52px;
    border-bottom:1px solid #dddddd;
    padding: 0 1rem;
}

.global-nav-links{
    align-items: center;
    display:flex;
    /* 자기들끼리 영역이 flexible해짐->반응형웹가능 */
    height:100%;
    max-width:1000px;
    margin: 0 auto;
}

.local-nav-links{
    align-items: center;
    display:flex;
    /* 자기들끼리 영역이 flexible해짐->반응형웹가능 */
    height:100%;
    max-width:1000px;
    margin: 0 auto;
}

.global-nav-links{
    justify-content: space-between;
    /* max기준으로 문자 사이의 간격을 동일하게 적용행 */
}

.local-nav-links .my-name{
    margin-right:auto;
    font-size:1.4rem;
    font-weight: bold;
    font-style: italic;
}

.local-nav-links{
    justify-content:space-between;

}

.local-nav-links a{
    font-size: 0.8rem;
}


.local-nav-links a:not(.my-name) {
    margin-left : 2rem;
}


.scroll-section {
    border : 1px red solid; 
    /* border : none; */
    padding-top : 50vh;
}

#scroll-section-0 h1{
    font-size : 4rem;
    text-align: center;
}



.main-message {
    display:flex;
    /* 반응형 웹에서 알아서 해주기 */
    align-items: center;
    justify-content: center; 
    /* div영역 중간 */
    height: 3em;
    margin-bottom:5px;
    font-size: 2rem;
     opacity : 0; 
    /* 투명도 0~1 */
    top : 35vh;
}

.main-message p{
    line-height: 1.5;
    font-weight:bold;
    text-align: center;
}

.description {
    max-width : 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    font-size : 1.2rem;
    color : #888;
}

/* .desc-message p{
    line-height: 1.5;
    font-weight:bold;
    text-align: center;
} */


.description strong{
    float : left;
    /* 왼쪽으로 딱 붙여서 한줄이 아니라 여러줄이 옆에 나올 수 있도록 하는 것. */
    margin-right:0.2em;
    font-size:3rem;
    color : rgb(29,29,31);
}

footer {
    display : flex;
    align-items: center;
    justify-content: center;
    height:7rem;
    background:coral;
    color : white;
}

.main-message small{
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}

#scroll-section-2 .main-message{
    opacity : 0;
    font-size: 3.5rem;

}

/* #scroll-section-2 .a{
    opacity : 0;
    top : 15%;
    left : 45%;
} */

#scroll-section-2 .b{
    top : 10%;
    left : 40%;
}
#scroll-section-2 .c{
    top : 15%;
    left : 45%;
}


.desc-message{
    opacity : 0;
    width: 50%;
    font-weight: bold;
}

.pin{
    width: 1px;
    height: 100px;
    background: rgb(29,29,31);
}

.mid-message{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 2rem;
    color: #888;
}

.mid-message strong{
    color: rgb(29,29,31);
}

.canvas-caption{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 1.2rem;
    color: #888;
} 

.sticky-elem {
    display: none; 
    position: fixed;
    left : 0px;
    width:100%;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem{
    display: block;
}

/* 최소의 화면 크기에 맞춰줄 때 사용 */
@media (min-width : 1024px) {
    #scroll-section-0 h1{
        font-size: 9vw;
    }
    .main-message{
        opacity:0;
        font-size: 4vw;
    }
    .description{
        font-size: 2rem;
    }
    .description strong{
        font-size: 4rem;
    }
    #scroll-section-2 .main-message{
        opacity : 0;
        font-size: 6vw;
    }
    #scroll-section-2 .b{
        top : 20%;
        left : 53%;
    }
    #scroll-section-2 .c{
        left : 55%;
    }
    .main-message samll{
        
        font-size: 1.5vw;
    }
    .desc-message{
        
        width: 20%;
    }
    .mid-message{
        font-size: 4rem;
    }
    .canvas-caption{
        font-size: 2rem;
    }

}